<template>
	<view class="cart">
		<view class="header">
			<view class="left">
				共
				<text class="num">{{ cartTotal }}</text>
				件商品
			</view>

			<view class="right" @click="changeFlg">
				<uni-icons type="compose" size="15" v-if="!isEdit"></uni-icons>

				<text class="text" :class="{ edit: isEdit }">{{ isEdit ? '完成' : '编辑' }}</text>
			</view>
		</view>

		<view class="cart-content">
			<template v-for="cart in cartList" key="cart.id">
				<cart-item :cart="cart" />
			</template>
		</view>

		<view class="cart-total">
			<view class="all" @click="onAllclick">
				<uni-icons
					class="icon-check"
					type="checkbox-filled"
					:size="20"
					v-if="isAll"
					color="rgb(250, 34, 9)"
				></uni-icons>
				<uni-icons class="icon-check" type="circle" :size="20" color="#d1d1d1" v-else></uni-icons>
				<text class="word">全选</text>
			</view>
			<view class="count">
				<view class="word">
					合计：
					<text class="price">
						<text class="uni">&yen;</text>
						{{ totalPrice || '0.00' }}
					</text>
				</view>
				<view class="btn" v-if="isEdit" @click="handleDelete" :class="{ ban: !checkSelected }">
					删除
				</view>
				<view class="btn" v-else @click="handleAccount" :class="{ ban: !checkSelected }">
					去结算({{ selectNumber || 0 }})
				</view>
			</view>
		</view>
	</view>
</template>

<script setup>
import CartItem from '@/pages/cart/components/cart-item.vue';
import { onLoad } from '@dcloudio/uni-app';
import store from '@/store';
import { computed, ref, watch } from 'vue';

const isAll = ref(false);

onLoad(async () => {
	await store.dispatch('cart/fetchCartList');
});

//购物车列表
const cartList = computed(() => {
	return store.getters['cartList'];
});

//侦听商品的选中状态变化，决定全选状态
watch(
	cartList,
	(newValue) => {
		console.log(newValue);
		isAll.value = newValue.every((item) => item.isSelected);
	},
	{ deep: true }
);
//总共的价格
const totalPrice = computed(() => {
	return store.getters['cart/getTotalPrice'];
});
// 选中商品的个数
const selectNumber = computed(() => {
	return store.getters['cart/getSelectNumber'];
});
//总计多少商品
const cartTotal = computed(() => {
	return store.getters['cart/getCartTotal'];
});

//点击全选
function onAllclick() {
	isAll.value = !isAll.value;

	store.commit('cart/setAllSelected', isAll.value);
}
//控制按钮是否可以点击
const checkSelected = computed(() => {
	return store.getters['cart/checkSelected'];
});

const isEdit = ref(false);
//控制删除和结算相关
function changeFlg() {
	isEdit.value = !isEdit.value;
}
//删除商品
function handleDelete() {
	uni.showModal({
		title: '友情提示',
		content: '你确定要删除该商品吗?',
		confirmText: '确定',
		cancelText: '取消',
		success: (res) => {
			if (res.confirm) {
				store.dispatch('cart/fetchDeleteCartGoods');
			}
		}
	});
}

//结算
function handleAccount() {
	const ids = store.dispatch('cart/fetchOrderAccount');

	if (ids) {
		uni.navigateTo({
			url: '/pages/checkout/checkout?mode=cart&cartIds=' + ids
		});
	}
}
</script>

<style lang="scss">
.cart {
	background-color: #f5f5f5;
	.header {
		font-size: 28rpx;
		align-items: center;
		box-sizing: border-box;
		line-height: 80rpx;
		height: 80rpx;
		display: flex;
		justify-content: space-between;
		padding: 2rpx 30rpx;
		.left {
			.num {
				color: #fa2209;
			}
		}
		.right {
			.edit {
				color: #fa2209;
			}
		}
	}

	.cart-content {
		padding: 0 16rpx 0 16rpx;
		box-sizing: border-box;
		// background-color: #fa2209;
	}

	.cart-total {
		display: flex;
		position: fixed;
		right: 0;
		left: 0;
		justify-content: space-between;
		align-items: center;
		height: 96rpx;
		background: #fff;
		padding: 0 30rpx;
		z-index: 11;
		bottom: 0;
		/* #ifdef H5 */
		bottom: 50px;
		/* #endif */

		.all {
		}
		.count {
			display: flex;
			align-items: center;

			.word {
				font-size: 28rpx;
				margin-right: 30rpx;

				.price {
					font-size: 32rpx;
					color: #fa2209;
					.uni {
						font-size: 24rpx;
					}
				}
			}
			.btn {
				background: linear-gradient(90deg, #f9211c, #ff6335);
				font-size: 28rpx;
				height: 72rpx;
				line-height: 72rpx;
				border-radius: 50rpx;
				box-sizing: border-box;
				width: 200rpx;
				text-align: center;
				color: #fff;
				&.ban {
					pointer-events: none;
					background: #ff9779;
				}
			}
		}
	}
}
</style>
