<template>
	<view class="home">
		<home-search />
		<home-banner :bannerList="pageData.bannerInfo" />
		<home-notice :noticeInfo="pageData.noticeInfo" />

		<view class="nav">
			<uni-grid :column="5" :square="false" :showBorder="false">
				<template v-for="item in pageData.navBarInfo" :key="item.text">
					<uni-grid-item>
						<!-- {{ item.text }} -->
						<grid-view-item :navItem="item"></grid-view-item>
						<!-- <grid-view-item :navItem="item" /> -->
					</uni-grid-item>
				</template>
			</uni-grid>
		</view>
		<navigator class="imageInfo" v-if="pageData.imageInfo" open-type="switchTab" url="../cate/cate">
			<image :src="pageData.imageInfo[0].imgUrl" mode="widthFix" class="image"></image>
		</navigator>
		<view class="guess-love">
			<text v-html="pageData.richTextInfo?.content"></text>
		</view>

		<view class="good-list">
			<template v-for="item in pageData.goodsInfo" :key="item.goods_id">
				<home-item :goods="item"></home-item>
			</template>
		</view>
	</view>
</template>

<script setup>
import HomeSearch from './components/home-search.vue';
import HomeBanner from './components/home-banner.vue';
import HomeNotice from './components/home-notice.vue';
import HomeItem from './components/home-item.vue';
import GridViewItem from '@/components/grid-view-item/grid-view-item.vue';
import { indexApi } from '@/apis/index.js';
import { onLoad } from '@dcloudio/uni-app';
import store from '@/store';
import { reactive, ref, toRefs } from 'vue';
import { mapState } from 'vuex';

const bannerList = ref([]);
const pageData = reactive({});
onLoad(async () => {
	await store.dispatch('home/fetchPageData');
	getPageData();
});

function getPageData() {
	const homeStore = store.state['home'];
	// console.log(Object.keys(store.state['home']));
	Object.keys(homeStore).forEach((key) => {
		pageData[key] = homeStore[key];
	});
}
</script>
<script>
export default {
	name: 'home'
};
</script>

<style lang="scss">
.home {
	background: #f1f1f2;
	.imageInfo {
		width: 100%;
		overflow: hidden;
		.image {
			width: 100%;
		}
	}
	.guess-love {
		background-color: $gHomePrimaryColor;
		font-size: 40rpx;
	}
	.good-list {
		padding: 4rpx;

		box-sizing: border-box;
	}
	.nav {
		background-color: $gHomePrimaryColor;
	}
}
</style>
