<template>
	<view>
		<view>{{title}}</view>
	</view>
</template>

<script setup>
	import {
		ref
	} from 'vue'
	import {
		onLoad
	} from '@dcloudio/uni-app'
	const title = ref('hi vue3')

	onLoad(() => {
		console.log('load...')
	})
</script>

<style lang="scss">

</style>