<script setup>
import { onShow } from '@dcloudio/uni-app';
import { getTabBarBadgeFn } from '@/utils/TabBarBadge';
import { getCache } from '@/utils/cache.js';
import { CARTTOTAL_NUMBER } from '@/constant/common.js';
onShow(() => {
	const number = getCache(CARTTOTAL_NUMBER);
	if (number) {
		getTabBarBadgeFn(number);
	}
});
</script>

<style>
@import 'static/fontIcon/iconfont.css';
/*每个页面公共css */
@font-face {
	font-family: 'erabbit';
	src: url('https://at.alicdn.com/t/c/font_4009193_lnbhmo3yos.woff?t=1681201348304') format('woff'),
		url('https://at.alicdn.com/t/c/font_4009193_lnbhmo3yos.ttf?t=1681201348304') format('truetype'),
		url('https://at.alicdn.com/t/c/font_4009193_lnbhmo3yos.svg?t=1681201348304#erabbit')
			format('svg');
}
page {
	background: #fafafa;
}
</style>
