$gPrimaryColor: #ff5777;
$gTintColor: #ff8198;

$gPriceColor: #ff5f3e;
$gNormalColor: #666;

$gBgColor: #f2f2f2;
$gFontSize: 28rpx;
$gHomePrimaryColor: #fff;
$homeFontColor: #999;
//分类模块的背景颜色
$searchBgColor: #f7f7f7;

@mixin textEllipsis() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin textEllipsisTwo() {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
