<template>
	<view class="login">
		<view class="login-header">
			<view class="title">手机号登录</view>
			<text class="sub-title">未注册的手机号登录后将自动注册</text>
		</view>

		<view class="content">
			<uni-forms :modelValue="formData">
				<uni-forms-item>
					<view class="form-item">
						<input v-model="formData.mobile" type="text" placeholder="请输入手机号" />
					</view>
				</uni-forms-item>
				<uni-forms-item>
					<view class="form-item">
						<input v-model="formData.imgCode" type="text" placeholder="请输入图形验证码" />
						<image
							:src="imgCodeSrc"
							mode=""
							class="imgCode"
							@click="handleCreateImgCode(true)"
						></image>
					</view>
				</uni-forms-item>
				<uni-forms-item>
					<view class="form-item">
						<input v-model="formData.smsCode" type="text" placeholder="请输入短信验证码" />
						<text class="code" @click="handleCreateCode" v-if="countDown === 0">获取验证码</text>
						<text class="code-active" v-else>重新发送({{ countDown }})秒</text>
					</view>
				</uni-forms-item>
			</uni-forms>
			<view class="login-button" @click="handleLoginBtn">登录</view>
		</view>
	</view>
</template>

<script setup>
import { reactive, ref, toRefs } from 'vue';
import { createImageApi, createMessageCodeApi, loginApi } from '@/apis/login.js';
import { LOGIN_MOBILE, LOGIN_SMSCODE, LOGIN_IMGCODE } from '@/constant/login';
import { onLoad } from '@dcloudio/uni-app';
import { commonDataValid } from '@/utils/commonVaild';
import { commonMessageToast } from '@/utils/messageBox';
import store from '@/store';

let routeType = '';
let redirectURL = '';
onLoad((options) => {
	console.log(options);
	routeType = options.routeType ?? 'switchTab';
	redirectURL = options.redirectURL ?? '/pages/index/index';
	handleCreateImgCode();
});

const code = '246810';

const mobileReg = /^1[3-9]\d{9}$/;
const smsCodeReg = /^\d{6}$/;
const imgCodeReg = /^.*(?=.{4})[a-zA-Z0-9]+$/;

const formData = reactive({
	[LOGIN_MOBILE]: '',
	[LOGIN_SMSCODE]: '',
	[LOGIN_IMGCODE]: ''
});

const imgCodeSrc = ref('');
// const messageCode = ref('');
/**
 * 生成图形码
 */
async function handleCreateImgCode(isReset = false) {
	if (isReset) {
		if (!mobileVaildFn()) return;
	}

	const { data, status } = await createImageApi();

	imgCodeSrc.value = data.base64;
}

/**
 * 手机校验
 */
function mobileVaildFn() {
	let flag = false;
	const { isNullFlag, regFlag } = commonDataValid(formData[LOGIN_MOBILE], true, mobileReg);
	if (!isNullFlag) {
		commonMessageToast({ title: '请先输入手机号', icon: 'none', duration: 2000 });
	} else if (!regFlag) {
		commonMessageToast({ title: '请输入正确的手机号', icon: 'none', duration: 2000 });
	} else {
		flag = true;
	}
	return flag;
}
/**
 * 短信校验
 */
function smsCodeFn() {
	let flag = false;
	const { isNullFlag, regFlag } = commonDataValid(formData[LOGIN_SMSCODE], true, smsCodeReg);
	if (!isNullFlag) {
		commonMessageToast({ title: '请输入短信验证码', icon: 'none', duration: 2000 });
	} else if (!regFlag) {
		commonMessageToast({ title: '要求入不少于6位数', icon: 'none', duration: 2000 });
	} else {
		flag = true;
	}
	return flag;
}

/**
 *图形码校验
 */
function imgCodeFn() {
	let flag = false;
	const { isNullFlag, regFlag } = commonDataValid(formData[LOGIN_IMGCODE], true, imgCodeReg);
	if (!isNullFlag) {
		commonMessageToast({ title: '请输入图形验证码', icon: 'none', duration: 2000 });
	} else if (!regFlag) {
		commonMessageToast({ title: '要求入不少于4位数', icon: 'none', duration: 2000 });
	} else {
		flag = true;
	}
	return flag;
}

/**
 * 生成验证码
 */
function handleCreateCode() {
	if (!mobileVaildFn() || !imgCodeFn()) return;

	startDown();
	console.log(code);
	uni.utils.toast('验证码是:' + code, 4000);
}

/**
 * 开始倒计时30miao
 */
const countDown = ref(0);
let timeId = null;
function startDown() {
	countDown.value = 10;

	if (timeId) clearInterval(timeId);
	timeId = setInterval(() => {
		if (countDown.value <= 0) {
			clearInterval();
		} else {
			countDown.value--;
		}
	}, 1000);
}
/**
 * 点击登录
 */
async function handleLoginBtn() {
	if (!mobileVaildFn() || !imgCodeFn() || !smsCodeFn()) return;

	const { status, data } = await loginApi({
		[LOGIN_MOBILE]: formData[LOGIN_MOBILE],
		[LOGIN_SMSCODE]: formData[LOGIN_SMSCODE]
	});

	if (status != 200) return uni.utils.toast('登录失败');
	//保存token
	store.commit('user/setUserInfo', data);
	uni[routeType]({ url: redirectURL });
	uni.utils.toast('登录成功');
}
</script>

<style lang="scss">
.login {
	padding: 100rpx 60rpx;
	min-height: 100vh;
	background-color: $gHomePrimaryColor;
	.login-header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 128rpx;
		margin-bottom: 60rpx;
		.title {
			color: #191919;
			font-size: 54rpx;
		}
		.sub-title {
			color: #b3b3b3;
			font-size: 28rpx;
		}
	}
	.content {
		:deep(.uni-forms-item) {
			margin-bottom: 0rpx !important;
		}

		:deep(.uni-easyinput__content-input) {
			padding: 0 !important;
		}

		:deep(.is-input-border) {
			border: none;
		}
		.form-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 18rpx;
			height: 96rpx;

			border-bottom: 1rpx solid #f3f1f2;
			margin-bottom: 30rpx;

			.imgCode {
				width: 192rpx;
				height: 60rpx;

				// background-color: antiquewhite;
			}
			.code {
				color: #cea26a;
			}
			.code-active {
				color: #9e9e9e;
			}
		}

		.login-button {
			width: 100%;
			height: 86rpx;
			margin-top: 80rpx;
			background: linear-gradient(90deg, #ecb53c, #ff9211);
			color: #fff;
			border-radius: 80rpx;
			box-shadow: 0 20rpx 4rpx 0 rgba(0, 0, 0, 0.1);
			letter-spacing: 4rpx;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
</style>
