<template>
	<view class="cate">
		<cate-search class="search" />

		<view class="main">
			<view class="sidebar">
				<cate-sidebar />
			</view>
			<view class="content">
				<cate-content />
			</view>
		</view>
	</view>
</template>

<script setup>
import CateSearch from './components/cate-search.vue';
import CateSidebar from './components/cate-sidebar.vue';
import CateContent from './components/cate-content.vue';
import { onLoad } from '@dcloudio/uni-app';
import stroe from '@/store';

onLoad(() => {
	stroe.dispatch('cate/fetchCateAll');
});
</script>

<style lang="scss">
page {
	background-color: $gHomePrimaryColor;
}

.cate {
	height: 100vh;
	/* #ifdef H5 */
	height: calc(100vh - 94px);
	/* #endif */
	display: flex;
	flex-direction: column;
	.sidebar {
		height: 112rpx;
	}
	.main {
		display: flex;
		flex: 1;
		overflow: hidden;
		.sidebar {
			height: 100%;
			flex: 0 0 23%;
		}
		.content {
			flex: 1;
		}
	}
}
</style>
