<template>
	<view class="detail">
		<scroll-view scroll-y="true" class="detail-scroll">
			<swiper
				class="detail-swiper"
				:indicator-dots="true"
				:autoplay="true"
				:interval="2000"
				:duration="1000"
			>
				<template v-for="img in goodsInfo.goods_images" :key="img.external_url">
					<swiper-item>
						<image :src="img.external_url" mode="widthFix" class="image"></image>
					</swiper-item>
				</template>
			</swiper>

			<!-- 详情头部 -->
			<detail-header />
			<!-- 详情主题 -->
			<detail-content :goodsInfo="goodsInfo" />

			<detail-popup-nav :popupInfo="popupInfo" @closePopup="handleClosePopup" />
			<detail-navbar @showPopup="handleShowPopup" />
		</scroll-view>
	</view>
</template>

<script setup>
import { onLoad } from '@dcloudio/uni-app';
import { goodsDetailApi } from '@/apis/detail';
import store from '@/store';
import DetailHeader from '@/pages/detail/components/detail-header.vue';
import DetailContent from '@/pages/detail/components/detail-content.vue';
import DetailNavbar from '@/pages/detail/components/detail-navbar.vue';
import DetailPopupNav from '@/pages/detail/components/detail-popup-nav.vue';

import { computed, ref } from 'vue';

const goodsInfo = ref({});

onLoad(async (options) => {
	// getGoodsDetail(options.goodsId);
	await store.dispatch('detail/fetchGoodsDetail', options.goodsId);
	store.dispatch('detail/fetchGoodsService', options.goodsId);
	store.dispatch('detail/fetchGoodsEvaluate', { goodsId: options.goodsId, limit: 2 });
	goodsInfo.value = store.getters['goodsInfo'];
});

const popupInfo = ref({});

function handleShowPopup(type) {
	popupInfo.value.type = type;
	popupInfo.value.isShow = true;
	// console.log('detail', popupInfo.value.type, popupInfo.value.isShow);
}

function handleClosePopup() {
	popupInfo.value.isShow = false;
}
</script>

<style lang="scss">
.detail-scroll {
	height: 100vh;

	background-color: #fafafa;

	.detail-swiper {
		height: 750rpx;

		.image {
			width: 100%;
		}
	}
}
</style>
