<template>
	<view class="my">
		<view class="my-info">
			<image src="../../static/background/user-header2.png" class="image"></image>
			<view class="cover" @click="handleLogin">
				<image src="@/static/user.jpg" mode="widthFix" class="avatar"></image>
				<view class="user-info">
					<view class="user-name">{{ userInfo?.nick_name || '未登录' }}</view>
					<view class="user-mobile">{{ userInfo?.mobile || '点击登录账号' }}</view>
				</view>
			</view>
		</view>
		<view class="item-money">
			<view class="money-area">
				<view class="area-item">
					<text class="number">{{ userInfo?.balance || '--' }}</text>
					<text class="title">账户余额</text>
				</view>
				<view class="area-item">
					<text class="number">0</text>
					<text class="title">积分</text>
				</view>
				<view class="area-item">
					<text class="number">0</text>
					<text class="title">优惠券</text>
				</view>
			</view>
			<view class="money-icon">
				<text class="iconfont icon-qianbao-"></text>
				<view class="title">我的钱包</view>
			</view>
		</view>

		<view class="my-main">
			<view class="section-top"></view>
			<view class="section-bottom"></view>
		</view>
		<!-- 		{{ userInfo?.user_id }} -->
		<view class="exit" v-if="userInfo?.user_id">
			<view class="exit-btn" size="60%" @click="handleExit">退出登录</view>
		</view>
	</view>
</template>

<script setup>
import { onShow, onLoad } from '@dcloudio/uni-app';
import { userApi } from '@/apis/my';
import store from '@/store';
import { computed, ref } from 'vue';

const userData = computed(() => {
	return store.state.user.userInfo;
});
onShow(() => {
	if (userData.value) {
		getUserInfo();
	}
});
// onLoad(() => {
// 	if (userData.value) {
// 		getUserInfo();
// 	}
// });

const userInfo = ref({});

async function getUserInfo() {
	const { data, status } = await userApi();
	if (status !== 200) uni.utils.toast('获取用户信息失败');
	userInfo.value = data.userInfo;
}

function handleExit() {
	uni.showModal({
		title: '友情提示',
		content: '你确定要退出吗?',
		// showCancel: false,
		confirmText: '确定',
		cancelText: '取消',
		success: (res) => {
			if (res.confirm) {
				store.commit('user/clearUserInfo');
				userInfo.value = {};
			}
		}
	});
}

function handleLogin() {
	const pages = getCurrentPages();
	const redirectURL = pages[pages.length - 1].route;

	if (!userData.value) {
		uni.navigateTo({
			url: `/pages/login/login?redirectURL=/${redirectURL}&routeType=switchTab`
		});
	}
}
</script>

<style lang="scss">
.my {
	background: #fafafa;
	.my-info {
		height: 260rpx;
		position: relative;
		.image {
			height: 260rpx;
			width: 100%;
		}

		.cover {
			box-sizing: border-box;
			display: flex;
			align-items: center;

			position: absolute;
			top: 0;
			bottom: 0;
			padding-left: 30rpx;
			height: 100rpx;
			margin: auto;
			.avatar {
				width: 100rpx;
				height: 100%;
			}
			.user-info {
				margin-left: 30rpx;
				font-size: 34rpx;
				max-width: 135px;
				color: #c59a46;
				.user-name {
					font-weight: 700;
				}
				.user-mobile {
					margin-top: 14rpx;
					font-size: 28rpx;
				}
			}
		}
	}

	.item-money {
		display: flex;
		background: #fff;
		padding: 40rpx 0;
		height: 176rpx;
		font-size: 28rpx;
		box-sizing: border-box;
		.money-area {
			flex: 1;
			display: flex;
			justify-content: space-around;

			.area-item {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
				.number {
					color: red;
					font-size: 34rpx;
				}
				.title {
					color: #666;
				}
			}
		}
		.money-icon {
			width: 198rpx;
		}
	}

	.money-icon {
		text-align: center;
		border-left: 1rpx solid #eee;
		.icon-qianbao- {
			font-size: 44rpx;
		}
		.title {
			margin-top: 14rpx;
		}
	}
	.my-main {
		padding: 20rpx 20rpx 0;
	}

	.exit {
		.exit-btn {
			width: 60%;
			margin: 0 auto;
			font-size: 28rpx;
			color: #616161;
			border-radius: 20rpx;
			border: 2rpx solid #dcdcdc;
			padding: 16rpx 0;
			text-align: center;
			cursor: pointer;
		}
	}
}
</style>
