<template>
	<view class="search">
		<view class="search-header">
			<view class="search-content">
				<view class="icon">
					<uni-icons type="search" size="18" color="#b4b4b4"></uni-icons>
				</view>
				<input
					type="text"
					placeholder="请输入您搜索的商品"
					class="input"
					v-model.trim="searchValue"
				/>
			</view>
			<view class="search-btn" @click="handleSearchInfo">搜索</view>
		</view>
		<view class="list">
			<view class="header">
				<view class="header-left">
					<text class="title">最近搜索</text>
				</view>

				<view class="header-right">
					<uni-icons
						type="trash"
						size="16"
						color="##777"
						@click="handleClearSearchRecord"
					></uni-icons>
				</view>
			</view>
			<view class="content">
				<template v-for="(record, index) in searchRecordList" :key="index">
					<view class="item" @click="handleItemClick(record)">{{ record }}</view>
				</template>
				<!-- 
				<view class="item">衣服</view> -->
			</view>
		</view>
	</view>
</template>

<script setup>
import { computed, ref } from 'vue';
import store from '@/store';

const searchValue = ref();

const searchRecordList = computed(() => {
	return store.state.search.searchRecord;
});

//添加搜索记录
function handleSearchInfo() {
	if (!searchValue.value) return;
	store.commit('search/setSearchRecord', searchValue.value);

	uni.navigateTo({
		url: '/pages/goods/goods?search=' + searchValue.value
	});
	searchValue.value = '';
}

function handleItemClick(value) {
	uni.navigateTo({
		url: '/pages/goods/goods?search=' + value
	});
}
//清楚历史记录
function handleClearSearchRecord() {
	store.commit('search/clearSearchRecord');
}
</script>

<style lang="scss">
page {
	padding: 20rpx;
	min-height: 100vh;
	background-color: $searchBgColor;
}

.search-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.search-content {
		height: 64rpx;
		border-radius: 5px 0 0 5px;
		background-color: #fff;
		display: flex;
		align-items: center;
		flex: 1;
		.icon {
			display: flex;
			width: 30px;
			justify-content: center;
			align-items: center;
		}
		.input {
			:deep(.uni-input-placeholder) {
				color: #aba9a9;
				font-size: 28rpx !important;
			}
		}
	}
	.search-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		border-radius: 0 5px 5px 0;
		background: #fa2209;
		color: #fff;
		width: 71px;
		height: 32px;
		box-sizing: border-box;
	}
}

.list {
	padding-top: 50rpx;
	box-sizing: border-box;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.header-left {
			.title {
				font-size: 28rpx;
				color: #777;
			}
		}
	}

	.content {
		padding: 20rpx 0;
		display: flex;

		.item {
			width: 33.3%;
			text-align: center;
			padding: 7px;
			box-sizing: border-box;
			margin: 5rpx;
			line-height: 15px;
			border-radius: 100rpx;
			background: #fff;
			font-size: 26rpx;
			border: 1rpx solid #efefef;
			@include textEllipsis();
			// overflow: hidden;
			// white-space: nowrap;
			// text-overflow: ellipsis;
		}
	}
}
</style>
