<template>
	<view class="goods-item">
		<view class="top">
			<image src="@/static/logo.png" mode="" class="gicon" v-if="!userImg"></image>
			<image :src="userImg" mode="" class="gicon"></image>
			<text class="name">{{ itemDate.user.nick_name }}</text>
			<uni-rate :size="18" :value="5" />
		</view>

		<view class="center">{{ itemDate.content }}</view>

		<view class="bottom">
			<text class="date">{{ itemDate.create_time }}</text>
		</view>
	</view>
</template>

<script setup>
import { computed } from 'vue';
const props = defineProps({
	itemDate: {
		type: Object,
		default: () => ({})
	}
});
//图片的地址进行解析
const userImg = computed(() => {
	return props.itemDate.user?.avatar_url;
});
</script>

<style lang="scss">
.goods-item {
	padding: 14rpx 20rpx 14rpx 30rpx;
	.top {
		display: flex;
		align-items: center;
		margin-bottom: 10rpx;
		.gicon {
			width: 50rpx;
			height: 50rpx;
		}
		.name {
			font-size: 24rpx;
			color: #303133;
			margin: 0 10rpx;
		}
	}
	.center {
		font-size: 26rpx;
		color: #333;
	}
	.bottom {
		margin-top: 10rpx;
		font-size: 24rpx;
		color: #999;
	}
}
</style>
