<template>
	<view class="home-search" @click="switchSearchPage">
		<uni-search-bar :focus="true" cancelButton="none" :radius="25"></uni-search-bar>
	</view>
</template>

<script setup>
function switchSearchPage() {
	uni.navigateTo({
		url: '/pages/search/search'
	});
}
</script>

<!-- #ifdef MP-WEIXIN -->
<script>
export default {
	options: { styleIsolation: 'shared' }
};
</script>
<!-- #endif -->

<style lang="scss" scoped>
.home-search {
	font-size: 26rpx;
	:deep(.uni-input-placeholder) {
		color: #999;
	}
}
</style>
