<template>
	<view class="home-item" @click="handleItemClick">
		<image :src="goods.goods_image" class="image"></image>
		<view class="desc-info">
			<view class="title">{{ goods.goods_name }}</view>
			<view class="number">已售{{ goods.goods_sales }}件</view>
			<view class="price">
				<text class="new-price">￥{{ goods.goods_price_min }}</text>
				<text class="old-price" v-if="goods.goods_price_min < goods.line_price_min">
					￥{{ goods.line_price_min }}
				</text>
			</view>
		</view>
	</view>
</template>

<script setup>
const props = defineProps({
	goods: {
		type: Object,
		default: () => ({})
	}
});

//跳转到详情页
function handleItemClick() {
	uni.navigateTo({
		url: '/pages/detail/detail?goodsId=' + props.goods.goods_id
	});
}
</script>

<style lang="scss">
.home-item {
	margin-bottom: 16rpx;
	background-color: $gHomePrimaryColor;
	padding: 24rpx;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

	.image {
		flex-shrink: 0;
		width: 240rpx;
		height: 240rpx;
	}
	.desc-info {
		margin-left: 10rpx;
		flex: 1;
		.title {
			@include textEllipsisTwo();

			color: #484848;
			font-size: 26rpx;
		}
		.number {
			margin-top: 10rpx;
			color: $homeFontColor;
			font-size: 24rpx;
		}
		.price {
			display: flex;
			align-items: center;
			margin-top: 10rpx;
			.new-price {
				color: #f03c3c;
				font-size: 30rpx;
				margin-right: 20rpx;
			}
			.old-price {
				margin-top: 10rpx;
				font-size: 24rpx;
				color: $homeFontColor;
				text-decoration: line-through;
			}
		}
	}
}
</style>
