<template>
	<view class="swiper">
		<swiper
			:indicator-dots="true"
			:autoplay="true"
			indicator-active-color="#71acaa"
			:circular="true"
			:interval="3000"
			:duration="1000"
			style="height: 368rpx"
		>
			<template v-for="item in bannerList" :key="item.imgUrl">
				<swiper-item @click="handleImgClick(item)">
					<image :src="item.imgUrl" mode="widthFix" class="image"></image>
				</swiper-item>
			</template>
		</swiper>
	</view>
</template>
<script setup>
defineProps({
	bannerList: {
		type: Array,
		default: () => []
	}
});

function handleImgClick(item) {
	if (!item?.link?.param?.query?.goodsId) return;
	const goodsId = item?.link?.param?.query?.goodsId;
	uni.navigateTo({
		url: '/pages/detail/detail?goodsId=' + goodsId
	});
}
</script>

<style lang="scss">
.swiper {
	.image {
		width: 100%;
		// height: 368rpx;
	}
}
</style>
