<template>
	<view class="home-notice">
		<uni-notice-bar
			showIcon
			single
			scrollable
			:text="noticeInfo.text"
			color="#fff"
			background-color="#525252"
		/>
	</view>
</template>

<script setup>
defineProps({
	noticeInfo: {
		type: Object,
		default: () => ({})
	}
});
</script>

<style lang="scss">
.home-notice {
	:deep(.uni-noticebar) {
		padding: 10rpx 20rpx;
	}
	:deep(.uni-noticebar-icon) {
		color: $gHomePrimaryColor !important;
	}
}
</style>
