<template>
	<view class="detail-navbar">
		<uni-goods-nav
			:fill="true"
			:options="options"
			:button-group="buttonGrop"
			@click="onClick"
			@buttonClick="buttonClick"
		/>
	</view>
</template>

<script setup>
import { reactive } from 'vue';
import { SELECT_CART, SELECT_BUY } from '@/constant/detail.js';
import { getCache } from '@/utils/cache';
import { CARTTOTAL_NUMBER } from '@/constant/common';

// const
const options = reactive([
	{ icon: 'home', text: '首页' },
	{ icon: 'cart', text: '购物车', info: getCache(CARTTOTAL_NUMBER) }
]);
const buttonGrop = reactive([
	{
		text: '加入购物车',
		backgroundColor: 'linear-gradient(90deg,#ffa600,#fb0)',
		color: '#fff'
	},
	{
		text: '立即购买',
		backgroundColor: 'linear-gradient(90deg,#f9211c,#ff6335)',
		color: '#fff'
	}
]);

function onClick(event) {
	const { index } = event;
	console.log(index);

	if (index === 0) {
		uni.switchTab({
			url: '/pages/index/index'
		});
	} else if (index === 1) {
		uni.switchTab({
			url: '/pages/cart/cart'
		});
	}
}
const emit = defineEmits(['showPopup']);
function buttonClick(event) {
	const { index } = event;
	console.log(index);
	if (index === 0) {
		//点击购物车
		emit('showPopup', SELECT_CART);
	} else if (index === 1) {
		//点击立即购买,
		emit('showPopup', SELECT_BUY);
	}
}
</script>

<style lang="scss">
.detail-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	:deep(.uni-tab__cart-box) {
		height: 106rpx;
	}

	:deep(.uni-tab__cart-button-right) {
		border-radius: 200rpx;
		margin: 8rpx;
	}
}
</style>
