<template>
	<view class="detail-popup-nav">
		<uni-popup ref="popup" @change="changeInfo">
			<view class="popup">
				<view class="top">
					<view class="goods-title">
						<image :src="goodsInfo.goods_image" mode="" class="popup-img"></image>
						<view class="goods-info">
							<view class="price">
								<text class="price-icon">&yen;</text>
								{{ goodsInfo.goods_price_min }}
							</view>
							<view class="inventory">库存：{{ goodsInfo.stock_total }}</view>
							<image
								src="@/static/detail/del.png"
								mode="widthFix"
								class="del-icon"
								@click="closePopup"
							></image>
						</view>
					</view>

					<view class="goods-number">
						<text class="num-wd">数量</text>
						<view class="btn-box">
							<view
								class="btn sub"
								:class="{ ban: buyGoodsInfo.goodsNum === 1 }"
								@click="decrement"
							>
								-
							</view>
							<view class="btn num-re">{{ buyGoodsInfo.goodsNum }}</view>
							<view class="btn add" @click="increment">+</view>
						</view>
					</view>
				</view>
				<view class="bottom">
					<view class="btn cart" v-if="popupInfo.type === SELECT_CART" @click="addCart">
						加入购物车
					</view>
					<view class="btn buy" v-else>立即购买</view>
				</view>
			</view>
		</uni-popup>
	</view>
</template>

<script setup>
import { reactive, ref, toRaw, watch, computed } from 'vue';
// import { onReady, onUnload } from '@dcloudio/uni-app';
import { SELECT_CART, SELECT_BUY } from '@/constant/detail.js';
import { cartAddApi } from '@/apis/cart';
import store from '@/store';
const popup = ref(null);
const props = defineProps({
	popupInfo: {
		type: Object,
		default: () => ({})
	}
});

const goodsInfo = computed(() => {
	return store.getters['goodsInfo'];
});

const buyGoodsInfo = reactive({
	goodsNum: 1,
	goodsId: ''
});
watch(
	props.popupInfo,
	(newValue) => {
		// console.log('数据变化了', toRaw(newValue));

		const { type, isShow } = newValue;
		if (!isShow) return;
		//打开弹框
		popup?.value.open('bottom');
		buyGoodsInfo.goodsId = goodsInfo.value.goods_id;
	},
	{ deep: true }
);

const emit = defineEmits('[closePopup]');

function changeInfo(e) {
	emit('closePopup');
}

/**
 * 关闭弹框
 */
function closePopup() {
	// console.log('关闭');
	emit('closePopup');
	popup.value.close();
}

function increment() {
	buyGoodsInfo.goodsNum++;
}

function decrement() {
	buyGoodsInfo.goodsNum--;
}

//加入购物车
async function addCart() {
	const { status, data } = await cartAddApi(buyGoodsInfo);
	if (status !== 200) uni.utils.toast('商品加入购物车失败');
	uni.utils.toast('商品加入购物车成功');
	closePopup();
	// uni.switchTab({
	// 	url: '/pages/cart/cart'
	// });
}
</script>

<style lang="scss">
.detail-popup-nav {
	.popup {
		border-radius: 20rpx 20rpx 0px 0px;
		background-color: #ffffff;
		.top {
			height: 360rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 30rpx 24rpx;
			.goods-title {
				display: flex;
				.popup-img {
					width: 180rpx;
					height: 180rpx;
				}
				.goods-info {
					position: relative;
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					padding: 0 34rpx 20rpx 28rpx;
					box-sizing: border-box;

					.price {
						color: rgb(254, 86, 10);
						font-size: 48rpx;
						.price-icon {
							font-size: 28rpx;
						}
					}
					.del-icon {
						width: 45rpx;
						height: 45rpx;
						position: absolute;
						top: 0;
						right: 0;
					}
					.inventory {
						margin-bottom: 14rpx;
						font-size: 24rpx;
						color: #525252;
					}
				}
			}
			.goods-number {
				display: flex;
				justify-content: space-between;
				padding-top: 20rpx;
				.btn-box {
					display: flex;
					.btn {
						height: 50rpx;
						width: 60rpx;
						font-size: 28rpx;
						background-color: #f2f3f5;
						text-align: center;
						line-height: 50rpx;
						&.num-re {
							margin: 0 6rpx;
						}
						&.sub {
							border-radius: 8rpx 0 0 8rpx;
						}
						&.ban {
							color: #c8c9cc;
							//禁止点击
							pointer-events: none;
							background-color: #f7f8fa;
						}
						&.add {
							border-radius: 0 8rpx 8rpx 0;
						}
					}
				}
				.num-wd {
					font-size: 28rpx;
				}
			}
		}
		.bottom {
			box-sizing: border-box;
			padding: 0 13px;
			height: 120rpx;
			display: flex;
			align-items: center;
			.btn {
				color: rgb(255, 255, 255);

				line-height: 80rpx;
				text-align: center;
				font-weight: 500;
				font-size: 24rpx;
				height: 80rpx;
				width: 95%;
				margin: 0 auto;
				border-radius: 38rpx;

				&.cart {
					background-color: #ff9402;
				}
				&.buy {
					background-color: rgb(254, 86, 10);
				}
			}
		}
	}
}
</style>
