<template>
	<view class="detail-content">
		<view class="evaluate">
			<goods-header leftTitle="商品评价" :rightTitle="查看更多" />

			<template v-for="evaluate in evaluateList" :key="evaluate.comment_id">
				<goods-item evaluateInfo :itemDate="evaluate" />
			</template>
		</view>

		<view class="description">
			<goods-header leftTitle="商品描述" :isShow="false" />
			<mp-html class="other" :content="goodsInfo.content"></mp-html>
		</view>
	</view>
</template>

<script setup>
import GoodsHeader from '@/components/goods-header/goods-header.vue';
import GoodsItem from '@/components/goods-item/goods-item.vue';
import { goodsEvaluateApi } from '@/apis/detail';
import { computed, onMounted, ref, watch } from 'vue';
import store from '@/store';
const props = defineProps({
	goodsInfo: {
		type: Object,
		default: () => ({})
	}
});
//评价列表
// const evaluateList = computed(() => {
// 	const goodsId = props.goodsInfo.goods_id;
// 	// return store.getters['evaluateList'];
// 	return getEvaluateList(goodsId);
// });

// onMounted(() => {
// 	console.log(props.goodsInfo.goods_id);
// 	getEvaluateList(props.goodsInfo.goods_id);
// });

watch(
	props,
	() => {
		// console.log(111);
		getEvaluateList(props.goodsInfo.goods_id);
	},
	{ deep: true }
);
const evaluateList = ref([]);
async function getEvaluateList(goodsId) {
	console.log(goodsId);
	const { status, data } = await goodsEvaluateApi(goodsId, 2);
	if (status !== 200) return uni.utils.toast('获取商品评价失败');
	// context.commit('setEvaluateList', data.list);
	evaluateList.value = data.list;
	// return data.list;
}
</script>

<style lang="scss">
.detail-content {
	.evaluate {
		background-color: #fff;
		margin-bottom: 30rpx;
	}
}
</style>
