<template>
	<view class="detail-header">
		<view class="detail-title">
			<view class="top">
				<view class="price">
					<text class="new">
						<text class="picon">￥</text>
						{{ goodsInfo.goods_price_max }}
					</text>
					<text class="old">&yen;{{ goodsInfo.line_price_max }}</text>
				</view>
				<view class="number">已售{{ goodsInfo.goods_sales }}件</view>
			</view>
			<view class="bottom">
				<view class="caption">{{ goodsInfo.goods_name }}</view>
			</view>
		</view>
		<view class="service">
			<view class="service-content">
				<template v-for="serve in serveList" :key="serve.service_id">
					<view class="item">
						<image src="@/static/detail/quality-goods.png" mode="" class="icon"></image>
						<text>{{ serve.name }}</text>
					</view>
				</template>
			</view>
			<view class="service-more">
				<uni-icons type="forward" size="14" color="#999" @click=""></uni-icons>
			</view>
		</view>
	</view>
</template>

<script setup>
import { computed, ref } from 'vue';
import store from '@/store';
import { onLoad } from '@dcloudio/uni-app';
import { goodsServiceApi } from '@/apis/detail';

const goodsInfo = computed(() => {
	return store.getters['goodsInfo'];
});
const serveList = computed(() => {
	return store.getters['serveList'];
});

const evaluateInfo = computed(() => {
	let dataObj = {};
	// const {} = props.goodsInfo;
});
</script>

<style lang="scss">
.detail-header {
	.detail-title {
		background: #fff;
		padding: 24rpx 30rpx;
		margin-top: 24rpx;
		.top {
			margin-bottom: 20rpx;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.price {
				.new {
					color: #fa2209;
					font-size: 42rpx;
					.picon {
						display: inline-block;
						font-size: 26rpx;
						margin-right: -2rpx;
					}
				}
				.old {
					text-decoration: line-through;
					color: #959595;
					font-size: 26rpx;
				}
			}
			.number {
				font-size: 24rpx;
				color: #959595;
			}
		}
		.bottom {
			.caption {
				font-size: 30rpx;
				color: #303133;
				@include textEllipsisTwo();
			}
		}
	}
	.service {
		display: flex;
		padding: 24rpx 30rpx;
		box-sizing: border-box;
		justify-content: space-between;
		align-items: center;
		.service-content {
			display: flex;
			flex: 1;
			color: #303133;
			.item {
				display: flex;
				align-items: center;
				font-size: 26rpx;
				margin: 8rpx 14rpx;

				.icon {
					margin-right: 10rpx;
					width: 26rpx;
					height: 26rpx;
				}
			}
		}
	}
}

.evaluate {
	background-color: #fff;
	margin-bottom: 30rpx;
}
</style>
