<template>
	<navigator class="grid-item" open-type="switchTab" url="../../pages/cate/cate">
		<image class="image" :src="navItem.imgUrl" mode="widthFix"></image>
		<text class="title">{{ navItem.text }}</text>
	</navigator>
</template>

<script setup>
defineProps({
	navItem: {
		type: Object,
		default: () => ({})
	}
});
</script>
<!-- <script>
export default {
	name: 'GridViewItem'
};
</script> -->

<style lang="scss" scoped>
.grid-item {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding: 20rpx;
	flex-wrap: wrap;
	.title {
		@include textEllipsis();
		// white-space: nowrap;
		// text-overflow: ellipsis;
		// overflow: hidden;
		font-size: 26rpx;
		margin-top: 10rpx;
	}
	.image {
		width: 100%;
	}
}
</style>
