<template>
	<view class="goods-header">
		<uni-list class="list" :border="false">
			<uni-list-item
				ellipsis="1"
				:title="leftTitle"
				:rightText="rightTitle"
				:border="false"
				:showArrow="isShow"
			/>
		</uni-list>
	</view>
</template>

<script setup>
defineProps({
	leftTitle: {
		type: String,
		default: ''
	},
	rightTitle: {
		type: String,
		default: ''
	},
	isShow: {
		type: Boolean,
		default: true
	}
});
</script>

<style lang="scss">
.goods-header {
	:deep(.uni-icon-wrapper) {
		padding: 0px 32rpx !important;
		font-size: 24rpx;
	}
}
// .goods-header {
// 	display: flex;
// 	justify-content: space-between;
// 	.title {
// 		font-size: 28rpx;
// 		color: #303133;
// 	}
// 	.more {
// 		color: #999;
// 	}
// }
</style>
