<template>
	<view class="cart-item">
		<view class="item-left">
			<view class="icon" @click="changeSelected">
				<uni-icons
					class="icon-check"
					type="checkbox-filled"
					:size="20"
					v-if="cart.isSelected"
					color="rgb(250, 34, 9)"
				></uni-icons>
				<uni-icons class="icon-check" type="circle" :size="20" color="#d1d1d1" v-else></uni-icons>
			</view>
			<image :src="cart.goodsImg" mode="widthFix" class="image" @click="onclick"></image>
		</view>

		<view class="item-right">
			<view class="title" @click="onclick">
				{{ cart.goodsName }}
			</view>
			<view class="other">
				<view class="price">
					<text class="uni">&yen;</text>
					{{ cart.price }}
				</view>
				<view class="btn-box">
					<view class="btn sub" :class="{ ban: number === 1 }" @click="decrement">-</view>
					<view class="btn num-re">{{ number }}</view>
					<view class="btn add" @click="increment">+</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script setup>
import store from '@/store/index.js';
import { ref } from 'vue';

const props = defineProps({
	cart: {
		type: Object,
		default: () => ({})
	}
});

const isSelected = ref(false);
//选中的商品的改变
function changeSelected() {
	isSelected.value = !isSelected.value;
	const id = props.cart.id;
	store.commit('cart/setItemSelected', { id, isSelected: isSelected.value });
}

//默认某个商品的个数
const number = ref(props.cart.num);
//自减
function decrement() {
	// const id = props.cart.id;
	store.dispatch('cart/fetchUpdateCart', { goodsId: props.cart.goodsId, num: --number.value });
}
// 自增
function increment() {
	store.dispatch('cart/fetchUpdateCart', { goodsId: props.cart.goodsId, num: ++number.value });
}
//点击商品跳转商品详情
function onclick() {
	uni.navigateTo({
		url: `/pages/detail/detail?goodsId=${props.cart.goodsId}`
	});
}
</script>

<style lang="scss">
.cart-item {
	margin-bottom: 24rpx;
	background-color: #fff;
	border-radius: 12rpx;
	display: flex;
	// align-items: center;
	padding: 30rpx 16rpx;

	.item-left {
		display: flex;
		align-items: center;
		.icon {
			margin-right: 10rpx;
			.icon-check {
				width: 56rpx;
				height: 80rpx;
				line-height: 80rpx;
			}
		}

		.image {
			width: 200rpx;
			height: 200rpx;
			background-color: royalblue;
		}
	}

	.item-right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		padding-left: 24rpx;

		.title {
			@include textEllipsisTwo;
			font-size: 28rpx;
		}

		.other {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.price {
				font-size: 36rpx;
				color: #fa2209;
				.uni {
					font-size: 24rpx;
				}
			}
			.btn-box {
				display: flex;
				.btn {
					height: 50rpx;
					width: 60rpx;
					font-size: 28rpx;
					background-color: #f2f3f5;
					text-align: center;
					line-height: 50rpx;
					&.num-re {
						margin: 0 6rpx;
					}
					&.sub {
						border-radius: 8rpx 0 0 8rpx;
					}
					&.ban {
						color: #c8c9cc;
						//禁止点击
						pointer-events: none;
						background-color: #f7f8fa;
					}
					&.add {
						border-radius: 0 8rpx 8rpx 0;
					}
				}
			}
		}
	}
}
</style>
