<template>
	<scroll-view scroll-y class="cate-content-scroll" :show-scrollbar="false">
		<view class="cate-content-box">
			<template v-for="cateChild in cateChildList" :key="cateChild.category_id">
				<view class="item">
					<image :src="cateChild.image.preview_url" class="image"></image>
					<text class="title">{{ cateChild.name }}</text>
				</view>
			</template>
			<view style="width: 33.3%"></view>
		</view>
	</scroll-view>
</template>

<script setup>
import { computed } from 'vue';
import store from '../../../store';

const cateChildList = computed(() => {
	return store.getters['cate/cateChildList'];
});
</script>

<style lang="scss">
.cate-content-scroll {
	height: 100%;
}
.cate-content-box {
	height: 100%;

	padding: 14rpx 20rpx 0 20rpx;
	box-sizing: border-box;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: flex-start;
	.item {
		width: 33.3%;
		margin-bottom: 30rpx;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8px 8px 2px 8px;
		.image {
			width: 148rpx;
			height: 148rpx;
		}
		.title {
			font-size: 26rpx;
		}
	}
}
</style>
