<template>
	<scroll-view scroll-y class="cate-sidebar-scroll" :show-scrollbar="false">
		<template v-for="(cate, index) in cateList" :key="cate.category_id">
			<view
				:class="{ active: index === currentIndex }"
				class="scroll-view-item"
				@click="selectCateItem(cate.category_id, index)"
			>
				{{ cate.name }}
			</view>
		</template>
	</scroll-view>
</template>

<script setup>
import store from '@/store';
import { computed, ref, watch } from 'vue';

const currentIndex = computed(() => {
	return store.state.cate.index;
});

const cateList = computed(() => {
	return store.state.cate.cateList;
});

//选择分类信息
function selectCateItem(id, index) {
	store.commit('cate/selectCateInfo', { id, index });
}
</script>

<style lang="scss">
.cate-sidebar-scroll {
	height: 100%;
	background-color: #f8f8f8;
	color: #444;

	.scroll-view-item {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		font-size: 28rpx;
		height: 90rpx;
		line-height: 90rpx;

		&.active {
			color: #fa2209;
			background: #fff;
			border-right: none;
		}
	}
}
</style>
