<template>
	<view class="cate-search" @click="switchSearchPage">
		<uni-search-bar
			radius="25"
			placeholder="搜索商品"
			bgColor="#f7f7f7"
			:focus="false"
			readonly
			cancelButton="none"
		/>
	</view>
</template>

<script setup>
function switchSearchPage() {
	uni.navigateTo({
		url: '/pages/search/search'
	});
}
</script>

<style lang="scss">
.cate-search {
	box-sizing: border-box;
	height: 110rpx;
}
</style>
